<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
         <li><a>ENROL <span class="sr-only">(current)</span></a></li>
          <li><a>FOR BUSSINESS <span class="sr-only">(current)</span></a></li>
           <li><a routerLink="/academic">ACADEMIC WRITING <span class="sr-only">(current)</span></a></li>
            <li><a>COURSES <span class="sr-only">(current)</span></a></li>
              <li><a>BLOG <span class="sr-only">(current)</span></a></li>
                <li><a>CONTACT <span class="sr-only">(current)</span></a></li>
        
      </ul>


    </div>
  </div>
</nav>-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row ">
    <div class="container-fluid header">
      <!-- top social start -->
      <div class="row headbg">
        <div class="container social">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="#"><img src="images/ico-facebook.png"></a>
            <a href="#"><img src="images/ico-twitter.png"></a>
            <a href="#"><img src="images/ico-linkedin.png"></a>
            <a href="#"><img src="images/ico-youtube.png"></a>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span>Call: (+91)9966881730</span>
          </div>
        </div>
      </div>
      <!-- top social end -->
      <div class="row">
        <div class="container logo">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nav-mar">

            <div class="row">

              <nav class="navbar" role="navigation">
                <div class="">
                  <img src="images/logo.png" style="float: left;" class="visible-xs">
                  <div class="navbar-header nav-btn">
                    <button type="button" class="navbar-toggle collapsed static-nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                      aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
		             	</button>

                  </div>
                  <img src="images/logo.png" class="hidden-xs">
                  <div id="navbar" class="collapse navbar-collapse navgrt">
                    <ul class="nav navbar-nav ">
                      <li><a href="#">ENROL</a></li>
                      <li><a href="#">FOR BUSINESS</a></li>
                      <li><a routerLink="/academic">ACADEMIC WRITING</a></li>
                      <li><a href="#">COURSES</a></li>
                      <li><a href="#">SOLUTIONS</a></li>
                      <li><a href="#">PRICING</a></li>
                      <li><a href="#">BLOG</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="row headbg">
          <div class="container">
            <div class="col-md-6 colo-sm-6 col-xs-12 search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </div>
    
            <div class="col-md-6 colo-sm-6 col-xs-12 course">
              <a href="#">Browse Full Course Library</a> |
              <a href="#">Become a  Member</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /.container-fluid -->
</nav>





<router-outlet></router-outlet>