<!-- footer start -->
<div class="container-fluid footer">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>products</h3>
			<ul>
				<li><a href="#">Online Subscriptions Courses</a></li> 
				<li><a href="#">Presenters</a></li>
				<li><a href="#">Individual Courses</a></li>
				<li><a href="#">Become an Instructor</a></li>
				<li><a href="#">Hire</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Support</h3>
			<ul>
				<li><a href="#">Frequently Asked Questions</a></li> 
				<li><a href="#">Affiliates</a></li>
				<li><a href="#">Contact Support</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
			<h3>Company</h3>
			<ul>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Terms &amp; conditions</a></li>
				<li><a href="#">Privacy policy</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Follow us on</h3>
			<ul>
				<li><a href="#">rainings@provantel.com</a></li> 
				<li><a href="#">(972) 646 8090</a></li>
				<li><a href="#">9966881730</a></li>
			</ul>
			<p class="icon-foot">
				<a href="#"><img src="images/icon-facebook.png" ></a>
				<a href="#"><img src="images/icon-twitter.png"></a>
				<a href="#"><img src="images/icon-linkedin.png"></a>
				<a href="#"><img src="images/icon-youtube.png"></a>
			</p>
			
		</div>
		<p class="copy hidden-xs">Copyright © 2017 Total Training. All Rights Reserved | <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a></p>
	</div>
	
</div>
<p class="copy mobile visible-xs">Copyright © 2017 Total Training. All Rights Reserved | <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a></p>
<!-- footer end -->